@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
}
header{
    background:#602540;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 45px;
}
.title{
    font-weight: 300;
    font-size: 2.5rem;
    color:#FF9FC5;
}
nav ul{
    display: flex;
    list-style: none;
}
.link-nav{
    text-decoration: none;
    color:#FF9FC5;
    margin-left: 35px;
    font-size: 1.2rem;
}
.login{
    background:#fff;
    color:#602540;
    font-weight: 1000;
    padding: 15px 40px;
    border-radius: 20px;
}
.banner-img{
    width: 100%;
}
main {
    padding: 70px;
}
main div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FF9FC5;
    padding: 20px;
    border-radius: 40px;
    min-width: 500px;
    max-width: 500px;
}
h2{
    color:#602540;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 50px;
}
.texto p {
    font-weight: 800;
    text-align: center;
}
.marvel{
    width: 500px;
    border-radius: 43%;
}
.dc{
    width: 600px;
    border-radius: 200px;
}
footer {
    background-color: #96305A;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
footer ul {
    list-style: none;
    display: flex;
}
footer ul li a img {
    width: 60px;
    margin: 0 10px;
}
h6 {
    font-size: .8rem;
    margin-top: 20px;
    color: #fff;
}